@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

$blackColor: #434343;
$secondaryColor: #fbfbfb;
$selectedColor: #8f94fb;
$selectedColorDark: #4e54c8;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    margin: auto;
    overflow: hidden;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0%;
        li {
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate 25s linear infinite;
            bottom: -150px;
            &:nth-child(1) {
                left: 25%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }
            &:nth-child(2) {
                left: 10%;
                width: 30px;
                height: 30px;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            &:nth-child(3) {
                left: 70%;
                width: 25px;
                height: 25px;
                animation-delay: 4s;
            }

            &:nth-child(4) {
                left: 40%;
                width: 60px;
                height: 60px;
                animation-delay: 0s;
                animation-duration: 18s;
            }

            &:nth-child(5) {
                left: 65%;
                width: 20px;
                height: 20px;
                animation-delay: 0s;
            }

            &:nth-child(6) {
                left: 75%;
                width: 110px;
                height: 110px;
                animation-delay: 3s;
            }
            &:nth-child(7) {
                left: 35%;
                width: 150px;
                height: 150px;
                animation-delay: 7s;
            }
            &:nth-child(8) {
                left: 50%;
                width: 25px;
                height: 25px;
                animation-delay: 15s;
                animation-duration: 45s;
            }
            &:nth-child(9) {
                left: 20%;
                width: 15px;
                height: 15px;
                animation-delay: 2s;
                animation-duration: 35s;
            }
            &:nth-child(10) {
                left: 85%;
                width: 150px;
                height: 150px;
                animation-delay: 0s;
                animation-duration: 11s;
            }

            &:nth-child(11) {
                left: 2.5%;
                width: 85px;
                height: 85px;
                animation-delay: 1.5s;
                animation-duration: 15s;
            }
        }
    }

    .data_box {
        width: 85%;
        height: 80%;
        position: relative;
        overflow: hidden;

        &.flex_view {
            display: flex;
            flex-direction: row-reverse;
        }

        .section {
            flex: 1;
            overflow: hidden;
            padding: 0rem 1rem;
            flex-direction: row-reverse;
            display: flex;
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            height: 95%;
            width: 95%;

            &.flex_view {
                display: flex;
                flex-direction: column;
            }

            .section {
                flex-direction: column;
                display: flex;
                padding: 0px 1rem;
            }
        }

        @media only screen and (max-width: $breakpoint-mobile) {
            width: 100%;
            height: 100%;

            .section {
                padding: 0px 0rem;
            }
        }
    }
}

.navigation {
    display: flex;
    margin: 0rem;
    justify-content: space-between;
    background: $secondaryColor;
    padding: 1.5rem 1rem;
    width: 3rem;
    flex-direction: column;
    height: calc(70% - 3rem);
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: $blackColor;
        font-weight: 300;
        font-size: 0.9rem;

        &:hover {
            color: $selectedColorDark;
        }

        &.active {
            color: $selectedColor;
        }

        p {
            margin: 0.25rem;
        }

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 0.1rem;
            bottom: 0;
            top: auto;
            background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
        }
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        flex-direction: row;
        width: 100%;
        height: auto;
        top: auto;
        transform: translateY(0%);
        padding: 0.5rem 1rem;

        .item {
            height: auto;
            font-size: 1rem;

            &:not(:last-child)::after {
                top: 0;
                width: 0.1rem;
                height: 100%;
                bottom: auto;
            }
        }
    }

    @media only screen and (max-width: $breakpoint-mobile) {
        padding: 0.5rem 0rem;

        .item {
            font-size: 0.75rem;
        }
    }
}

.personal_section {
    box-shadow: rgba(0, 0, 0, 0.25) 1px -1px 5px;
    display: flex;
    background: $secondaryColor;
    align-items: center;
    height: 95%;
    width: 35%;
    margin: auto;
    padding: 0rem 0rem;
    position: relative;
    flex-direction: column;

    .imgBlock {
        height: 55%;
        position: relative;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.65);
        }

        .block_left,
        .block_right {
            width: 50%;
            height: 2.5rem;
            background-color: #fbfbfb;
            position: absolute;
            bottom: -1px;
            // box-shadow: rgb(0 0 0 / 25%) 1px -1px 5px;
        }
        .block_left {
            clip-path: polygon(0 0, 0 100%, 100% 100%, 0% 0%, 100% 0);
        }
        .block_right {
            right: 0px;
            clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%, 100% 0);
        }
    }

    .title {
        margin-top: 0.75rem;
        text-align: center;
        display: block;

        .name_title {
            font-size: 2.25rem;
            margin-bottom: 0.25rem;
        }

        .designation_title {
            font-size: 1rem;
            font-weight: 200;
            letter-spacing: 0.1rem;
        }
    }

    .social {
        margin-top: 1rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 1rem;
        i {
            font-size: 1rem;
            cursor: pointer;
            transition: ease-in-out 0.25s;
            &:hover {
                transform: scale(1.5);
            }
        }
    }

    .contact {
        display: flex;
        margin-bottom: 1rem;
        width: 100%;
        flex: 1;
        align-items: end;
        justify-content: end;

        .btn {
            background: transparent;
            color: $blackColor;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            font-weight: 300;
            letter-spacing: 0.1rem;
            transition: ease-in-out 0.25s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 5px;
        width: calc(100% - 4rem);
        height: 6rem;

        .imgBlock {
            display: none;
        }

        .title {
            .name_title {
                font-size: 1.5rem;
            }

            .designation_title {
                font-size: 0.85rem;
            }
        }

        .social {
            //
        }
        .contact {
            .btn {
                margin-top: 0.5rem;
                font-size: 0.75rem;
            }
        }
    }

    @media only screen and (max-width: $breakpoint-mobile) {
        width: calc(100% - 1rem);
        padding: 0.5rem 0.5rem;

        .contact {
            .btn {
                display: none;
            }
        }
    }
}

.detail_section {
    height: 90%;
    position: relative;
    top: 5%;
    width: 65%;
    left: -0.25rem;
    overflow: hidden;

    .about_us,
    .work,
    .skill,
    .contact,
    .freelance {
        background: $secondaryColor;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.1) 1px -1px 2.5px;
        z-index: 0;
        left: auto;
        position: absolute;
    }

    .data {
        padding: 1rem 2rem 1rem;
        width: calc(100% - 4rem);
        height: calc(100% - 2rem);
        overflow-y: auto;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        width: 100%;
        height: calc(100% - 8rem);
        top: 1.5rem;
        left: auto;

        .about_us,
        .work,
        .skill,
        .contact,
        .freelance {
            width: 95%;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.5px;
        }

        .data {
            padding: 2rem 2rem 2rem;
            height: calc(100% - 4.5rem);
        }
    }

    @media only screen and (max-width: $breakpoint-mobile) {
        left: auto;

        // .about_us,.work,.skill,.contact,.freelance {
        //     // left: 2.5%;
        // }
        .data {
            width: calc(100% - 4rem);
            height: calc(100% - 2.5rem);
            padding: 1rem 2rem;
        }
    }
}

.hidden {
    display: none;
}

.animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeInLeft;

    @media only screen and (max-width: $breakpoint-tablet) {
        animation-name: fadeInUp;
    }
}

.fadeOut {
    animation-name: fadeOutLeft;

    @media only screen and (max-width: $breakpoint-tablet) {
        animation-name: fadeOutUp;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        // -webkit-transform: translate3d(-90%, 0%, 0);
        transform: translate3d(-55%, 0%, 0);
    }

    to {
        opacity: 1;
        // -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        // -webkit-transform: translate3d(0, 0%, 0);
        transform: translate3d(0, 0%, 0);
    }

    to {
        opacity: 0;
        // -webkit-transform: translate3d(-90%, 0%, 0);
        transform: translate3d(-90%, 0%, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(-50%, 60%, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(-50%, 0%, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translate3d(-50%, 0%, 0px);
    }

    to {
        opacity: 0;
        transform: translate3d(-50%, 90%, 0px);
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

// &::after {
//     content: '';
//     position: absolute;
//     height: 0.08rem;
//     background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
//     left: 0rem;
//     right: -8rem;
//     bottom: 0.6rem;
//     width: auto
// }
