@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: auto;
  overflow: hidden;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: aqua;
}
.background .data_box {
  width: 85%;
  height: 80%;
  position: relative;
  overflow: hidden;
}
.background .data_box.flex_view {
  display: flex;
  flex-direction: row-reverse;
}
.background .data_box .section {
  flex: 1;
  overflow: hidden;
  padding: 0rem 1rem;
  flex-direction: row-reverse;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .background .data_box {
    height: 95%;
    width: 95%;
  }
  .background .data_box.flex_view {
    display: flex;
    flex-direction: column;
  }
  .background .data_box .section {
    flex-direction: column;
    display: flex;
    padding: 0px 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .background .data_box {
    width: 100%;
    height: 100%;
  }
  .background .data_box .section {
    padding: 0px 0rem;
  }
}

.navigation {
  display: flex;
  margin: 0rem;
  justify-content: space-between;
  background: #fbfbfb;
  padding: 1.5rem 1rem;
  width: 3rem;
  flex-direction: column;
  height: calc(70% - 3rem);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.navigation .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #434343;
  font-weight: 300;
  font-size: 0.9rem;
}
.navigation .item:hover {
  color: #00b123;
}
.navigation .item.active {
  color: #00b123;
}
.navigation .item p {
  margin: 0.25rem;
}
.navigation .item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  top: auto;
  background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}
@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: row;
    width: 100%;
    height: auto;
    top: auto;
    transform: translateY(0%);
    padding: 0.5rem 1rem;
  }
  .navigation .item {
    height: auto;
    font-size: 1rem;
  }
  .navigation .item:not(:last-child)::after {
    top: 0;
    width: 0.1rem;
    height: 100%;
    bottom: auto;
  }
}
@media only screen and (max-width: 600px) {
  .navigation {
    padding: 0.5rem 0rem;
  }
  .navigation .item {
    font-size: 0.75rem;
  }
}

.personal_section {
  box-shadow: rgba(0, 0, 0, 0.25) 1px -1px 5px;
  display: flex;
  background: #fbfbfb;
  align-items: center;
  height: 95%;
  width: 35%;
  margin: auto;
  padding: 0rem 0rem;
  position: relative;
  flex-direction: column;
}
.personal_section .imgBlock {
  height: 50%;
  position: relative;
}
.personal_section .imgBlock img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.personal_section .imgBlock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
}
.personal_section .imgBlock .block_left,
.personal_section .imgBlock .block_right {
  width: 50%;
  height: 2.5rem;
  background-color: #fbfbfb;
  position: absolute;
  bottom: -1px;
}
.personal_section .imgBlock .block_left {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 0% 0%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 100%, 0% 0%, 100% 0);
}
.personal_section .imgBlock .block_right {
  right: 0px;
  -webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%, 100% 0);
}
.personal_section .title {
  margin-top: 0.75rem;
  text-align: center;
  display: block;
}
.personal_section .title .name_title {
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
}
.personal_section .title .designation_title {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.personal_section .social {
  margin-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
}
.personal_section .social i {
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}
.personal_section .social i:hover {
  transform: scale(1.25);
}
.personal_section .contact {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  flex: 1;
  align-items: end;
  justify-content: end;
}
.personal_section .contact .btn {
  background: transparent;
  color: #434343;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}
.personal_section .contact .btn:hover {
  transform: scale(1.2);
}
@media only screen and (max-width: 768px) {
  .personal_section {
    box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 5px;
    width: calc(100% - 4rem);
    height: 6rem;
  }
  .personal_section .imgBlock {
    display: none;
  }
  .personal_section .title .name_title {
    font-size: 1.5rem;
  }
  .personal_section .title .designation_title {
    font-size: 0.85rem;
  }
  .personal_section .contact .btn {
    margin-top: 0.5rem;
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 600px) {
  .personal_section {
    width: calc(100% - 1rem);
    padding: 0.5rem 0.5rem;
  }
  .personal_section .contact .btn {
    display: none;
  }
}

.detail_section {
  height: 90%;
  position: relative;
  top: 5%;
  width: 65%;
  left: -0.25rem;
  overflow: hidden;
}
.detail_section .about_us,
.detail_section .work,
.detail_section .skill,
.detail_section .contact,
.detail_section .freelance {
  background: #fbfbfb;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 1px -1px 2.5px;
  z-index: 0;
  left: auto;
  position: absolute;
}
.detail_section .data {
  padding: 1rem 2rem 1rem;
  width: calc(100% - 4rem);
  height: calc(100% - 2rem);
  overflow-y: auto;
}
@media only screen and (max-width: 768px) {
  .detail_section {
    width: 100%;
    height: calc(100% - 8rem);
    top: 1.5rem;
    left: auto;
  }
  .detail_section .about_us,
.detail_section .work,
.detail_section .skill,
.detail_section .contact,
.detail_section .freelance {
    width: 95%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.5px;
  }
  .detail_section .data {
    padding: 2rem 2rem 2rem;
    height: calc(100% - 4.5rem);
  }
}
@media only screen and (max-width: 600px) {
  .detail_section {
    left: auto;
  }
  .detail_section .data {
    width: calc(100% - 4rem);
    height: calc(100% - 2.5rem);
    padding: 1rem 2rem;
  }
}

.hidden {
  display: none;
}

.animation {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}
@media only screen and (max-width: 768px) {
  .fadeIn {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;
}
@media only screen and (max-width: 768px) {
  .fadeOut {
    -webkit-animation-name: fadeOutUp;
            animation-name: fadeOutUp;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-55%, 0%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-55%, 0%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-90%, 0%, 0);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-90%, 0%, 0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(-50%, 60%, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, 0%, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(-50%, 60%, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, 0%, 0);
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate3d(-50%, 0%, 0px);
  }
  to {
    opacity: 0;
    transform: translate3d(-50%, 90%, 0px);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate3d(-50%, 0%, 0px);
  }
  to {
    opacity: 0;
    transform: translate3d(-50%, 90%, 0px);
  }
}/*# sourceMappingURL=style.css.map */